.progress-bar {
    -fx-background-color: transparent; /* Removes default bar */
}

.progress-bar .track {
    -fx-background-image: url("../images/loading_bar_empty.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-image: url("../images/loading_bar_full.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center-left;
    -fx-background-color: transparent;
}